<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../styling/signup.css">
</head>
<body>
    <nav>
        <a href="./">Home</a>
    </nav>
    <form method="POST" action="/login">
        <h2>Sign-Up</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required placeholder="Enter Username">
        <input type="hidden" id="email" name="role" value="admin">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required placeholder="Enter Password">
        <input type="submit" value="Sign-Up" id="btn">
        <h2><%=d%></h2>
        <div class="signup-message">
            <b style="color: #333;">Do have an account?</b> <a href="./login.html">Login</a>
        </div>
    </form>
</body>
</html>
