<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
    <header>
    <% if (flag) {%>
        <nav>
            <ul>
                <li><a href="">Order</a></li>
                <li><a href="/cpage">Cart</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    <% } else { %>
     <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./login">Login</a></li>
            <li><a href="./signup.html">Sign-Up</a></li>
            <li><a href="/admin">Admin Login</a></li>
        </ul>
    </nav>  
    <% } %>
    </header>
</body>
</html>